<!DOCTYPE html>
<html lang="en">
<head>
   <style>
   </style>
    <title>Document</title>
</head>
<body>
    <center> {% load static %} <img src="{% static "picture/logo.png" %}" alt="logo" /></center>
    <h1>KPMB</h1>

    <h4>Welcome</h4>
    <br>
    <ul>
        <li>Course</li>
        <ul>
            <li><a href="course">Course</a></li>
            <li><a href="search_course">Search Course</a></li>
        </ul>
        <li>Student</li>
        <ul>
            <li><a href="student">Student</a></li>
        </ul>
    </ul>
</body>
</html>